@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
body{
    margin: 30px 100px;
}
main{
    margin-top: 50px;
}

.heading_text h1{
    grid-row-start: 1;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 6;

    font-family: 'PT Serif', serif;
    font-size: 36px;
    font-weight: 700;
    grid-area: a;

}
.heading_text h2{
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      grid-area: b;


  }
  .heading_text h3{
      margin-top: -13px;
      font-weight: 100;
      font-size: 19px;
      font-family: 'Poppins', sans-serif;
      grid-area: c;
  }
.heading_text{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "a b b"
    "a c c"
    "a c c"
    ;
}




.gallery1{
    display:grid ;
    grid-template-columns:auto;
    grid-template-rows:auto;
    grid-gap: 50px 3px;
    grid-template-areas:
    "m m m n o o o p q q q d"
    "r r r z t t t f s s s e"
    
    ;
}


.gallery1 img{
    width: 100%;
    margin: px;
    padding: 0px 10px;
    }

aside{
    margin-top: 5px;
writing-mode: vertical-lr; 
font-family: 'PT Serif', serif;

}
section{
    font-family: 'Poppins', sans-serif;
}




.top1{
    grid-area: m;
    margin:0px 20px 0px 0px ;
}
.aside-1{
    padding: 0px !important;
    grid-area:n ;
 }




.aside-2{
    margin-top: 80px;
    padding: 15px;
    grid-area:p ;
 }
 .bottom1{
     margin-top: 80px;
    grid-area: o;
 }



.top2{
    margin:0px 20px 0px 0px ;
    grid-area:q ;
}
.aside-3{
    padding: 0px;
    grid-area: d;
 }





.aside-4{
    grid-area: z;
    padding: 0px 20px;
}
.top{
    grid-area: r;
    }



    .aside-5{
        margin-top: 73px;
        padding: 15px;
        grid-area: f;
    }
    .bottom{
     margin-top: 80px;

        grid-area: t;
        }


    .aside-6{
        padding: 0px 20px;
        grid-area: e;
    }

    .top11{
        grid-area: s;
        }


footer{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
text-align: center;
}
footer img{
    position: absolute; 
    height: 40px;
    width: 40px;
    margin-top: -10px;
    margin-left: 10px;
}



  
@media  screen and (max-width:900px){

    body{
        margin: 20px 50px;
    }
    .heading_text{
        display: flex;
        flex-direction: column;
 
    }
    .gallery1{
        display:grid ;
        grid-template-columns:auto;
        grid-template-rows:auto;
        grid-gap: 50px 3px;
        grid-template-areas:
        "m m m n o o o p"
        "q q q d r r r z"
        "t t t f s s s e"
        
        ;
    }
    .gallery1 img{
        width: 100%;
       min-width: 130px;
      
        }
        .top{
            margin-top: 70px;
        }
        .aside-4{
            margin-top: 80px;
        }
        .bottom{
            margin-top: 20px;
        }
        .top11{
            margin-top: 120px;
        }
.aside-5{
    margin-top: 15px;
}
.aside-6{
  
    margin-top: 130px;
}

}